<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Etec
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-row>
    <ion-col size="12">
      <ion-segment value="default">
        <ion-segment-button value="brasil">
          <ion-label>Brasil</ion-label>
        </ion-segment-button>

        <ion-segment-button value="china">
          <ion-label>China</ion-label>
        </ion-segment-button>

        <ion-segment-button value="india">
          <ion-label>Índia</ion-label>
        </ion-segment-button>

        <ion-segment-button value="mexico">
          <ion-label>México</ion-label>
        </ion-segment-button>
        
        <ion-segment-button value="jordania">
          <ion-label>Jordânia</ion-label>
        </ion-segment-button>

        <ion-segment-button value="italia">
          <ion-label>Itália</ion-label>
        </ion-segment-button>

        <ion-segment-button value="peru">
          <ion-label>Peru</ion-label>
        </ion-segment-button>
      </ion-segment>

    </ion-col>
  </ion-row>

  <!-- Cards do Brasil -->
  <ion-row>
    <ion-col size="4">
      <ion-card>
        <img src="https://images.pexels.com/photos/10205938/pexels-photo-10205938.jpeg?auto=compress&cs=tinysrgb&w=1600">
      </ion-card>
    </ion-col>
    <ion-col size="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/2868240/pexels-photo-2868240.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    </ion-card>
  </ion-col>
  <ion-col size="4">
  <ion-card>
    <img src="https://images.pexels.com/photos/2818895/pexels-photo-2818895.jpeg?auto=compress&cs=tinysrgb&w=1600">
  </ion-card>
</ion-col>
    
  </ion-row>

   <!-- Cards da china -->
   <ion-row>
    <ion-col size="4">
      <ion-card>
        <img src="https://images.pexels.com/photos/19872/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1600">
      </ion-card>
    </ion-col>
    <ion-col size="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/2412603/pexels-photo-2412603.jpeg?auto=compress&cs=tinysrgb&w=1600">
    </ion-card>
  </ion-col>
  <ion-col size="4">
  <ion-card>
    <img src="https://images.pexels.com/photos/2304791/pexels-photo-2304791.jpeg?auto=compress&cs=tinysrgb&w=1600">
  </ion-card>
</ion-col>
   </ion-row>


   <!-- Cards da India -->
   <ion-row>
    <ion-col size="4">
      <ion-card>
        <img src="https://images.pexels.com/photos/1603650/pexels-photo-1603650.jpeg?auto=compress&cs=tinysrgb&w=1600">
      </ion-card>
    </ion-col>
    <ion-col size="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/2413613/pexels-photo-2413613.jpeg?auto=compress&cs=tinysrgb&w=1600">
    </ion-card>
  </ion-col>
  <ion-col size="4">
  <ion-card>
    <img src="https://images.pexels.com/photos/5458393/pexels-photo-5458393.jpeg?auto=compress&cs=tinysrgb&w=1600">
  </ion-card>
</ion-col>
   </ion-row>

   <!-- Cards da jordania -->
   <ion-row>
    <ion-col size="4">
      <ion-card>
        <img src="https://images.pexels.com/photos/3214958/pexels-photo-3214958.jpeg?auto=compress&cs=tinysrgb&w=1600">
      </ion-card>
    </ion-col>
    <ion-col size="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/720254/pexels-photo-720254.jpeg?auto=compress&cs=tinysrgb&w=1600">
    </ion-card>
  </ion-col>
  <ion-col size="4">
  <ion-card>
    <img src="https://images.pexels.com/photos/1671632/pexels-photo-1671632.jpeg?auto=compress&cs=tinysrgb&w=1600">
  </ion-card>
</ion-col>
   </ion-row>

   <!-- Cards da italia -->
   <ion-row>
    <ion-col size="4">
      <ion-card>
        <img src="https://images.pexels.com/photos/2064827/pexels-photo-2064827.jpeg?auto=compress&cs=tinysrgb&w=1600">
      </ion-card>
    </ion-col>
    <ion-col size="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/1701595/pexels-photo-1701595.jpeg?auto=compress&cs=tinysrgb&w=1600">
    </ion-card>
  </ion-col>
  <ion-col size="4">
  <ion-card>
    <img src="https://images.pexels.com/photos/532263/pexels-photo-532263.jpeg?auto=compress&cs=tinysrgb&w=1600">
  </ion-card>
</ion-col>
   </ion-row>

   <!-- Cards do peru -->
   <ion-row>
    <ion-col size="4">
      <ion-card>
        <img src="https://images.pexels.com/photos/2929906/pexels-photo-2929906.jpeg?auto=compress&cs=tinysrgb&w=1600">
      </ion-card>
    </ion-col>
    <ion-col size="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/2356045/pexels-photo-2356045.jpeg?auto=compress&cs=tinysrgb&w=1600">
    </ion-card>
  </ion-col>
  <ion-col size="4">
  <ion-card>
    <img src="https://images.pexels.com/photos/2516418/pexels-photo-2516418.jpeg?auto=compress&cs=tinysrgb&w=1600">
  </ion-card>
</ion-col>
   </ion-row>
  
   <!-- Cards do mexico -->
   <ion-row>
    <ion-col size="4">
      <ion-card>
        <img src="https://images.pexels.com/photos/3290068/pexels-photo-3290068.jpeg?auto=compress&cs=tinysrgb&w=1600">
      </ion-card>
    </ion-col>
  <ion-col size="4">
    <ion-card>
      <img src="https://images.pexels.com/photos/5188293/pexels-photo-5188293.jpeg?auto=compress&cs=tinysrgb&w=1600">
    </ion-card>
  </ion-col>
  <ion-col size="4">
  <ion-card>
    <img src="https://images.pexels.com/photos/13619277/pexels-photo-13619277.jpeg?auto=compress&cs=tinysrgb&w=1600">
  </ion-card>
</ion-col>
   </ion-row>
    
    
    

  

 
</ion-content>
