.divisor{
  height: 50vh;
  overflow: hidden;
  align-items: center;
}
img{
  border-radius: 16px;
       
}
ion-content{
  background: rgb(237,0,18);
background: linear-gradient(90deg, rgba(237,0,18,1) 0%, rgba(0,0,255,1) 100%);
}
